<%= form_for youtube_handler do |f| %>
    <%if youtube_handler.errors.any?%>
      <div class = "alert alert-danger">
        <h4><%= pluralize(youtube_handler.errors.count, "error")%>.</h4>
        <ul>
          <% youtube_handler.errors.full_messages.each do |msg|%>
            <li><%=msg%></li>
          <%end%>
        </ul>
      </div>
    <%end%>
    <%= form_group_tag(youtube_handler.errors[:name]) do %>
     <%= f.label :name %>
     <%= f.text_field :name, class: 'form-control' , placeholder: "Enter Event Name", :required => true %>
    <%end%>
    <%= form_group_tag(youtube_handler.errors[:chat_id]) do %>
     <%= f.label :chat_id %>
     <%= f.text_field :chat_id, class: 'form-control' , placeholder: "Enter Chat ID", :required => true %>
    <%end%>
    <%= form_group_tag(youtube_handler.errors[:script]) do %>
     <%= f.label :script %>
     <%= f.text_field :script, class: 'form-control' , placeholder: "Enter Event's Script", :required => true %>
    <%end%>


   <div class="form-group">
     <%= f.submit "Save", class: 'btn btn-success' %>
   </div>
 <% end %>
